.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0 20px;
  border-bottom: 1px solid $base-border-color;
}

.header-logo {
  display: inline-block;
  font-family: $serif;
  font-size: 36px;
  font-weight: 700;
  color: $header-logo-color;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-top: 11px;
  font-size: 14px;
  a {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
  svg {
    width: 16px;
    height: 16px;
    fill: $nav-link-color;
  }
  &:hover svg {
    fill: $nav-link-color-hover;
  }
}

.highlight-btn {
  background: none;
  border: 1px solid $brand-success;
  border-radius: 15px;
  color: $brand-success;
  cursor: pointer;
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
    flex-direction: column;
  }
}
