// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0 20px;
  border-bottom: 1px solid $base-border-color;
}

.header-logo {
  display: inline-block;
  font-family: $serif;
  font-size: 36px;
  font-weight: 700;
  color: $header-logo-color;
  text-decoration: none;
}

.theme-toggle {
  margin: 21px 0 0;
}

.highlight-btn {
  background: none;
  border: 1px solid $brand-success;
  border-radius: 15px;
  color: $brand-success;
  cursor: pointer;
}

.header-links {
  padding: 0;
  list-style: none;
  ul {
    display: inline-block;
  }
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      cursor: pointer;
      svg {
        width: 16px;
        height: 16px;
        fill: $header-link-color;
      }
      &:hover svg {
        fill: $header-link-color-hover;
      }
    }
  }
}

.header-tags {
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
  li {
    display: inline-block;
    padding-right: 10px;
    a {
      display: inline-block;
      color: $header-link-color;
      text-decoration: none;
      &:hover { color: $header-link-color-hover; }
    }
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
    flex-direction: column;
  }
  .header-links {
    display: block;
    float: none;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .theme-toggle {
    text-align: center;
    margin-top: auto;
  }
  .header-tags {
    margin: 20px 0 0;
    text-align: center;

    li {
      padding: 0 5px;
    }
  }
}
