// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $base-border-color;
  p {
    font-size: 15px;
    color: $gray-light;
  }

  .left-column {
    display: inline-block;
    color: $gray-light;
    padding-bottom: 20px;
  }

  .right-column {
    float: right;
  }
}

#form-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10vh 10vw;
  background-color: #eaf7f9;
  height: 100%;
  z-index: 99;

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: -2px 8px 0 8px;
    fill: $black;
  }
}

.footer-link {
  text-decoration: underline;
}

.close-button {
  color: $black;
}

.close-button, .footer-link {
  cursor: pointer;
}

#hire-form {
  margin: 20vh 10vw;
}

@include breakpoint(extra-small) {
  .footer .left-column, .right-column {
    display: block;
    float: none !important;
    text-align: center;
  }
}
