// =============================================================================
// Footer
// =============================================================================

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  margin-bottom: 85px;
  text-align: center;
  border-top: 1px solid $base-border-color;
  p {
    font-size: 15px;
    color: $gray-light;
  }

  .left-foo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $footer-primary-shade;
    padding-bottom: 20px;
  }

  .right-foo {
    display: flex;
    flex-direction: column;
  }
}

#form-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10vh 10vw;
  background-color: #eaf7f9;
  height: 100%;
  z-index: 99;

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: -2px 8px 0 8px;
    fill: $black;
  }
}

.footer-link {
  text-decoration: underline;
  color: $gray-light;
}

.bmc-btn-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: left;
  margin-bottom: 10px;
}

.bmc-btn {
  min-width: 0px !important;
  height: 30px !important;
  font-size: 0.8em !important;
  padding: 10px !important;
  svg {
    max-height: 21px !important;
  }
}

.close-button {
  color: $black;
}

.close-button, .footer-link {
  cursor: pointer;
}

#hire-form {
  margin: 20vh 10vw;
}

@include breakpoint(extra-small) {
  .footer {
    flex-direction: column;
  }
}
